{% extends 'sales_manager/main.html' %}

{% block content %}
<div class="container">
    {% include 'sales_manager/book_view.html' with book=book with_comment=True %}
    <hr>
    <form action="{% url 'add-comment' book_id=book.id %}" method="POST">
         {% csrf_token %}
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="4" id="comment" name="text" required></textarea>
    </div>
        <input button type="submit" class="btn btn-success" value="Отправить">
    </form>
</div>
{% endblock %}
